.body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aqua;
}
.h3{
  
    font-size: 40px;
}
.h4{
    font-size:25px;
}

.input{
    width:230px;
    height:30px;
    margin-right: 10px;
}
.password{
    display:flex;
    justify-content: center;
    align-items: center;
}
.submit{
    display:flex;
    justify-content: center;
    align-items: center;
}
.button{
    margin-top:20px;
    width:150px;
    height:40px;
   margin-right: 40px;
}